.search-container {
    width: 400px;
    height: 45px;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 30px;
    overflow: hidden;
    border: 2px solid #ddd;
    transition: 0.4s ease;
}

/* Animation on hover */
.search-container:hover {
    transform: scale(1.05);
    border-color: #ff9800;
    box-shadow: 0 0 15px rgba(255, 152, 0, 0.5);
}


.search-container input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
}


.search-container button {
    width: 55px;
    height: 100%;
    border: none;
    background: #ff9800;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}


.search-container button:hover {
    background: #e68900;
    transform: rotate(10deg);
}


/* Mobile Responsive */
@media(max-width:600px) {

    .search-container {
        width: 90%;
        height: 40px;
    }

    .search-container input {
        font-size: 14px;
    }
}